.rc-image-preview-close,
.rc-image-preview-switch-right,
.rc-image-preview-switch-left {
  border-radius: 0px !important;
  border: 1px var(--color-border) solid !important;
  padding: 8px !important;
  background-color: #00000073 !important;
  color: #fff !important;
  width: 32px !important;
  height: 32px !important;
}

.rc-image-preview-close:hover {
  opacity: 1 !important;
}

.rc-image-preview-close svg,
.rc-image-preview-switch-right svg,
.rc-image-preview-switch-left svg {
  width: 16px !important;
  height: 16px !important;
}

.rc-image-preview-operations {
  border-radius: 0px !important;
  border: 1px var(--color-border) solid !important;
  padding-right: 4px !important;
  padding-left: 4px !important;
}

.rc-image-preview-operations svg {
  width: 16px;
  height: 16px;
}
